.rack {
  /* padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 3px; */
  display: inline-block;
}

.rack-row {
  height: 70px;
}

.slot {
  height: 60px;
  width: 60px;
  margin: 5px;
  display: inline-block;
}

.slot-focused {
  margin: 2px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
} 

.well {
  height: 50px;
  width: 50px;
  /* margin: 5px; */
  border-style: solid;
  border-color: #000;
  border-width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.well-filled {
  background: #000;
}

.well-blank {
  background: blue;
}

.well-none {
  background: red;
}

.label {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
}